{% extends "cyg_base.html" %}

{% block cyg_style %}
    <style>
        .layui-table thead {
            background-color: #5b6973;
            color: white;
        }
    </style>
{% endblock %}

{% block cyg_content %}

    <blockquote class="layui-elem-quote layui-text">
        dbc 绑定列表
    </blockquote>

    <div>
        <form class="layui-form layui-row layui-col-space16">
            <div class="layui-col-md4">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input type="text" name="dbc_code" value="" placeholder="PH DMX" class="layui-input" lay-affix="clear">
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input type="text" name="lot_name" value="" placeholder="Order Number" class="layui-input" lay-affix="clear">
                </div>
            </div>

            <div class="layui-col-md4">
                <button class="layui-btn" lay-submit lay-filter="table_search">搜索</button>
                <button class="layui-btn layui-btn-primary" lay-submit lay-filter="table_clear">重置</button>
            </div>

        </form>
        <table class="layui-hide" id="dbc_link_list_table"></table>
    </div>

{% endblock %}

{% block cyg_script %}
    <script>

        layui.use(['form', 'util', 'table', 'layer'], function () {

            let table = layui.table;
            let form = layui.form;

            // 渲染
            table.render({
                elem: '#dbc_link_list_table',
                url: '/get_dbc_links', // 请求数据的 URL
                method: 'GET', // 请求方式
                page: true,
                limit: 20,
                limits: [10, 20, 30, 50],
                cols: [[
                    {field: 'id', title: 'ID', type: 'numbers', width: 100, fixed: 'left', unresize: true, sort: true},
                    {field: 'dbc_code', title: 'PH DMX', width: 200},
                    {
                        field: 'dbc_state', title: 'Result', width: 120,
                        templet: function (d) {
                            return d.dbc_state === 1 ? 'OK' : 'NG';
                        }
                    },
                    {field: 'carrier_id', title: 'Carrier ID', width: 200},

                    {field: 'tray_code', title: 'Blister ID', width: 200},
                    {field: 'tray_index', title: 'Blister Index', width: 120},
                    {field: 'lot_name', title: 'Order Number'},
                    {field: 'lot_article_name', title: 'Article Number'},
                    {
                        field: 'created_at', title: 'Create Time',
                            templet: function (d) {
                                return formatDate(d.updated_at);
                            }
                    }
                ]],
                height: 'full-220',
            });
            
            // 搜索提交
            form.on('submit(table_search)', function(data){
                const field = data.field; // 获得表单字段

                table.reload('dbc_link_list_table', {
                    url: '/get_dbc_links_with_condition', // 新的数据接口
                    where: field, // 请求参数
                    page: { curr: 1 } // 重新从第 1 页开始
                });
                return false;
            });

            // clear提交
            form.on('submit(table_clear)', function(data){
                let dbc_code_input = document.querySelector('.dbc_code');
                dbc_code_input.value = "";

                let lot_name_input = document.querySelector('.lot_name');
                lot_name_input.value = "";

                const field = data.field; // 获得表单字段

                table.reload('dbc_link_list_table', {
                    url: '/get_dbc_links', // 新的数据接口
                    where: field, // 请求参数
                    page: { curr: 1 } // 重新从第 1 页开始
                });
                return false;
            });
        })
    </script>
{% endblock %}

